In [2]:
import numpy as np

In [6]:
my_numpy_array = np.random.rand(3)

my_numpy_array

array([0.49672062, 0.56049996, 0.51647891])

In [7]:
type(my_numpy_array)

numpy.ndarray

In [8]:
#Select a value from the array
my_numpy_array[0]

0.49672062237178016

In [10]:
import pandas as pd

In [13]:
my_series = pd.Series(my_numpy_array)
my_series
#Series added an index column

0    0.496721
1    0.560500
2    0.516479
dtype: float64

In [12]:
my_series

0    0.496721
1    0.560500
2    0.516479
dtype: float64

In [14]:
my_numpy_array[0]

0.49672062237178016

In [18]:
#Add own index
my_series = pd.Series(my_numpy_array, index = ["First", "Second", "Third"])
my_series

First     0.496721
Second    0.560500
Third     0.516479
dtype: float64

In [20]:
my_series["Second"]

0.5604999616997477

In [23]:
my_series[1]

0.5604999616997477

In [24]:
my_series.index

Index([u'First', u'Second', u'Third'], dtype='object')

In [26]:
array_2d = np.random.rand(3,2)
array_2d

array([[0.89122072, 0.11923083],
       [0.35922466, 0.03967025],
       [0.4792614 , 0.44584895]])

In [27]:
array_2d[0, 1]

0.11923082564066134

In [29]:
#Create a DataFrame
df = pd.DataFrame(array_2d)
df

          0         1
0  0.891221  0.119231
1  0.359225  0.039670
2  0.479261  0.445849

In [31]:
#Does not work
df[0,1]

KeyError: (0, 1)

In [32]:
df.columns

RangeIndex(start=0, stop=2, step=1)

In [35]:
df.columns = ["First", "Second"]
df

      First    Second
0  0.891221  0.119231
1  0.359225  0.039670
2  0.479261  0.445849

In [36]:
df["Second"]
#Out is a Series

0    0.119231
1    0.039670
2    0.445849
Name: Second, dtype: float64

In [38]:
#This is a Series
type(df["Second"])

pandas.core.series.Series