In [4]:
#Load the data from the pickle file
df = pd.read_pickle(os.path.join('demos','data_frame.pickle'))
df

,artist,title,medium,year,acquisitionYear,width,height,units
id,,,,,,,,
1035,"Blake, Robert",A Figure Bowing before a Seated Old Man with h...,"Watercolour, ink, chalk and graphite on paper....",NaN,1922.0,394,419,mm
1036,"Blake, Robert","Two Drawings of Frightened Figures, Probably f...",Graphite on paper,NaN,1922.0,311,213,mm
1037,"Blake, Robert",The Preaching of Warning. Verso: An Old Man En...,Graphite on paper. Verso: graphite on paper,1785,1922.0,343,467,mm
1038,"Blake, Robert",Six Drawings of Figures with Outstretched Arms,Graphite on paper,NaN,1922.0,318,394,mm
1039,"Blake, William",The Circle of the Lustful: Francesca da Rimini...,Line engraving on paper,1826,1919.0,243,335,mm
1040,"Blake, William",Ciampolo the Barrator Tormented by the Devils,Line engraving on paper,1826,1919.0,240,338,mm
1041,"Blake, William",The Baffled Devils Fighting,Line engraving on paper,1826,1919.0,242,334,mm
1042,"Blake, William",The Six-Footed Serpent Attacking Agnolo Brunel...,Line engraving on paper,1826,1919.0,246,340,mm
1043,"Blake, William",The Serpent Attacking Buoso Donati,Line engraving on paper,1826,1919.0,241,335,mm
1044,"Blake, William",The Pit of Disease: The Falsifiers,Line engraving on paper,1826,1919.0,243,340,mm
1045,"Blake, William",Dante Striking against Bocca Degli Abati,Line engraving on paper,1826,1919.0,236,340,mm
1046,"Blake, William",Job and his Family,Line engraving on paper,1828,1919.0,184,150,mm
1047,"Blake, William",Satan before the Throne of God,Line engraving on paper,1825,1919.0,197,151,mm
1048,"Blake, William",Job’s Sons and Daughters Overwhelmed by Satan,Line engraving on paper,1825,1919.0,197,153,mm
1049,"Blake, William",The Messengers tell Job of his Misfortunes,Line engraving on paper,1825,1919.0,200,152,mm
1050,"Blake, William",Satan Going Forth from the Presence of the Lor...,Line engraving on paper,1825,1919.0,198,152,mm
1051,"Blake, William",Satan Smiting Job with Sore Boils,Line engraving on paper,1825,1919.0,198,153,mm
1052,"Blake, William",Job’s Comforters,Line engraving on paper,1825,1919.0,198,153,mm
1053,"Blake, William",Job’s Despair,Line engraving on paper,1825,1919.0,199,150,mm
1054,"Blake, William",The Vision of Eliphaz,Line engraving on paper,1825,1919.0,198,152,mm
1055,"Blake, William",Job Rebuked by his Friends,Line engraving on paper,1825,1919.0,198,152,mm
1056,"Blake, William",Job’s Evil Dreams,Line engraving on paper,1825,1919.0,197,152,mm
1057,"Blake, William",The Wrath of Elihu,Line engraving on paper,1825,1919.0,200,151,mm
1058,"Blake, William",The Lord Answering Job out of the Whirlwind,Line engraving on paper,1825,1919.0,198,151,mm
1059,"Blake, William",When the Morning Stars Sang Together,Line engraving on paper,1825,1919.0,191,150,mm
1060,"Blake, William",Behemoth and Leviathan,Line engraving on paper,1825,1919.0,200,151,mm
1061,"Blake, William",The Fall of Satan,Line engraving on paper,1825,1919.0,186,150,mm
1062,"Blake, William",The Vision of Christ,Line engraving on paper,1825,1919.0,200,151,mm
1063,"Blake, William",Job’s Sacrifice,Line engraving on paper,1825,1919.0,198,150,mm
1064,"Blake, William",Every Man also Gave him a Piece of Money,Line engraving on paper,1825,1919.0,197,150,mm
...,...,...,...,...,...,...,...,...
121196,"Barlow, Phyllida",Untitled,Acrylic paint on paper,2003,2013.0,558,760,mm
121197,"Barlow, Phyllida",Untitled,Acrylic paint on paper,2004,2013.0,380,566,mm
121198,"Barlow, Phyllida",Untitled,Acrylic paint on paper,2006,2013.0,560,762,mm
115637,"Latham, John",Unedited Material From the Star,"Film, 16mm, projection, colour and sound",1960,2013.0,NaN,NaN,NaN
115638,"Latham, John",Encyclopedia Britannica,"Film, 16mm, projection, black and white",1971,2013.0,NaN,NaN,NaN
122545,"Kirkeby, Per",Composition,Oil paint on canvas,1978,2013.0,2093,1679,mm
120104,"Karamustafa, Gulsun",Memory of a Square,"Video, 2 projections, black and white and sound",2005,2013.0,NaN,NaN,NaN
121565,"Walker, Kelley",Will We Ever Kill The Bug,2 screenprints on fibreboard,2010,2013.0,NaN,NaN,NaN
116157,"Bulloch, Angela",Aluminium 4,"4 aluminium pixel boxes with DMX control box, ...",2012,2013.0,NaN,NaN,NaN
117761,"Atlas, Charles",Joints 4tet Ensemble,"Film, Super 8 mm, shown as video, 10 monitors,...",1971,2013.0,NaN,NaN,NaN
115217,"T R Uthco (Doug Hall born 1944, Diane Andrews ...",The Eternal Frame,"2 sofas, lamp, television, JFK mementos, tapes...",1975,2013.0,NaN,NaN,NaN
122537,"Gordon, Douglas",Feature Film,"Video, projection, colour and sound",1999,2013.0,NaN,NaN,NaN
120527,"Black, Karla",At Fault,"Cellophane, paint, sellotape, plaster powder, ...",2011,2013.0,NaN,NaN,NaN
127128,"Lord, Andrew",Three Vases. Fist,Ceramic and gold,1985,2013.0,368,267,mm
127129,"Lord, Andrew",biting,"Ceramic, epoxy, gold leaf, encre de Chine and ...",1996,2013.0,705,470,mm
127130,"Lord, Andrew",breathing,"Ceramic, epoxy, gold leaf, encre de Chine and ...",1996,2013.0,408,205,mm
127131,"Lord, Andrew",Untitled (from the Gauguin Series),"Ceramic, silver and epoxy",2004,2013.0,410,317,mm
121283,"Rhodes, Lis",Light Music,"Film, 16 mm, 2 projections, black and white, a...",1975,2013.0,NaN,NaN,NaN
129068,"Lord, Andrew",Coffee service and tray. Impressionist set,Ceramic,1978,2013.0,57,57,mm
117863,"Andrade, Jonathas de",Tropical Hangover,"151 text panels, typewritten ink on paper, 53 ...",2009,2013.0,NaN,NaN,NaN
120549,"Oursler, Tony",The Influence Machine,"Video, multiple projections, sound and smoke",2000,2013.0,NaN,NaN,NaN
123620,"Sterne, Hedda","NY, NY No. X",Oil paint on canvas,1948,2013.0,810,1155,mm
122900,"Flanagan, Barry",sand girl,"Film, Super 8mm, projection, colour",1970,2013.0,NaN,NaN,NaN
122958,"P-Orridge, Genesis",Venus Mound (from Tampax Romana),"Wood, Perspex, plaster, wire, tampons and huma...",1976,2013.0,305,305,mm
122959,"P-Orridge, Genesis",It’s That Time Of The Month (from Tampax Romana),"Wood, Perspex, clock case, tampons and human b...",1975,2013.0,305,305,mm
122960,"P-Orridge, Genesis",Larvae (from Tampax Romana),"Perspex, Wood, hairpiece, tampon and human blood",1975,2013.0,305,305,mm
122961,"P-Orridge, Genesis",Living Womb (from Tampax Romana),"Wood, Perspex, plastic, photograph on paper, t...",1976,2013.0,305,305,mm
121181,"Hatoum, Mona",Present Tense,Soap and glass beads,1996,2013.0,45,2410,mm
112306,"Creed, Martin",Work No. 227: The lights going on and off,Gallery lighting,2000,2013.0,NaN,NaN,NaN
127035,"Brunias, Agostino",Dancing Scene in the West Indies,Oil paint on canvas,1764,2013.0,508,660,mm

In [5]:
df['artist']

id
1035                                          Blake, Robert
1036                                          Blake, Robert
1037                                          Blake, Robert
1038                                          Blake, Robert
1039                                         Blake, William
1040                                         Blake, William
1041                                         Blake, William
1042                                         Blake, William
1043                                         Blake, William
1044                                         Blake, William
1045                                         Blake, William
1046                                         Blake, William
1047                                         Blake, William
1048                                         Blake, William
1049                                         Blake, William
1050                                         Blake, William
1051                                         Blake, William
1052                                         Blake, William
1053                                         Blake, William
1054                                         Blake, William
1055                                         Blake, William
1056                                         Blake, William
1057                                         Blake, William
1058                                         Blake, William
1059                                         Blake, William
1060                                         Blake, William
1061                                         Blake, William
1062                                         Blake, William
1063                                         Blake, William
1064                                         Blake, William
                                ...
121196                                     Barlow, Phyllida
121197                                     Barlow, Phyllida
121198                                     Barlow, Phyllida
115637                                         Latham, John
115638                                         Latham, John
122545                                         Kirkeby, Per
120104                                  Karamustafa, Gulsun
121565                                       Walker, Kelley
116157                                      Bulloch, Angela
117761                                       Atlas, Charles
115217    T R Uthco (Doug Hall born 1944, Diane Andrews ...
122537                                      Gordon, Douglas
120527                                         Black, Karla
127128                                         Lord, Andrew
127129                                         Lord, Andrew
127130                                         Lord, Andrew
127131                                         Lord, Andrew
121283                                          Rhodes, Lis
129068                                         Lord, Andrew
117863                                 Andrade, Jonathas de
120549                                        Oursler, Tony
123620                                        Sterne, Hedda
122900                                      Flanagan, Barry
122958                                   P-Orridge, Genesis
122959                                   P-Orridge, Genesis
122960                                   P-Orridge, Genesis
122961                                   P-Orridge, Genesis
121181                                         Hatoum, Mona
112306                                        Creed, Martin
127035                                    Brunias, Agostino
Name: artist, Length: 69201, dtype: object

In [8]:
#Demo 1 : Determine nr of unique artists names
artists = df['artist']
pd.unique(artists)
len(pd.unique(artists))

3336

In [9]:
#Demo 2 : Select artists with name Bacon, Francis
df['artist'] == 'Bacon, Francis'

id
1035      False
1036      False
1037      False
1038      False
1039      False
1040      False
1041      False
1042      False
1043      False
1044      False
1045      False
1046      False
1047      False
1048      False
1049      False
1050      False
1051      False
1052      False
1053      False
1054      False
1055      False
1056      False
1057      False
1058      False
1059      False
1060      False
1061      False
1062      False
1063      False
1064      False
          ...
121196    False
121197    False
121198    False
115637    False
115638    False
122545    False
120104    False
121565    False
116157    False
117761    False
115217    False
122537    False
120527    False
127128    False
127129    False
127130    False
127131    False
121283    False
129068    False
117863    False
120549    False
123620    False
122900    False
122958    False
122959    False
122960    False
122961    False
121181    False
112306    False
127035    False
Name: artist, Length: 69201, dtype: bool

In [14]:
s = df['artist'] == 'Bacon, Francis'
s.value_counts()

False    69151
True        50
Name: artist, dtype: int64

In [15]:
# Demo2 : Other approach
artist_counts = df['artist'].value_counts()
artist_counts

Turner, Joseph Mallord William       39389
Jones, George                         1046
Moore, Henry, OM, CH                   623
Daniell, William                       612
Beuys, Joseph                          578
British (?) School                     388
Paolozzi, Sir Eduardo                  385
Flaxman, John                          287
Phillips, Esq Tom                      274
Warhol, Andy                           272
Constable, John                        249
Cozens, Alexander                      237
Stothard, Thomas                       215
Ferrari, León                          199
Piper, John                            183
Blake, William                         180
Kitaj, R.B.                            179
Dance-Holland, Sir Nathaniel           169
Hamilton Finlay, Ian                   164
Flanagan, Barry                        162
Gainsborough, Thomas                   158
Schütte, Thomas                        156
Tilson, Joe                            152
Roberts, William                       142
Hamilton, Richard                      138
Burne-Jones, Sir Edward Coley, Bt      138
Walker, John                           135
Nolan, Sir Sidney                      135
Pasmore, Victor                        135
Arnatt, Keith                          133
                                     ...
Korner, John                             1
Hoare, William                           1
Wynne, David                             1
Cazin, Marie                             1
Tudor, Thomas                            1
Lozoff, Abrasha                          1
Holden, Cliff                            1
Nolde, Emil                              1
Mintchine, Abraham                       1
Opsomer, Isidore                         1
Johnson, Charles Edward                  1
Kusama, Yayoi                            1
Holt, Lilian                             1
Poirier, Anne and Patrick                1
Fairweather, Ian                         1
Bough, Samuel                            1
Oelman, Michael                          1
Cheese, Chloe                            1
Hudson, Anna Hope                        1
Nebot, Balthazar                         1
Sailmaker, Isaac                         1
Colone, Adam de                          1
Sadotti, Giorgio                         1
Phillips, Maurice                        1
Marx, Enid                               1
Helman, Robert                           1
Donaldson, Andrew Brown                  1
Behnes, William                          1
Gorky, Arshile                           1
Gouk, Alan                               1
Name: artist, Length: 3336, dtype: int64

In [16]:
artist_c
ounts['Bacon, Francis']

50

In [20]:
#Indexing done the wright way
df.loc[1035, 'artist']

'Blake, Robert'

In [19]:
df.iloc[0,0]

'Blake, Robert'

In [21]:
df

,artist,title,medium,year,acquisitionYear,width,height,units
id,,,,,,,,
1035,"Blake, Robert",A Figure Bowing before a Seated Old Man with h...,"Watercolour, ink, chalk and graphite on paper....",NaN,1922.0,394,419,mm
1036,"Blake, Robert","Two Drawings of Frightened Figures, Probably f...",Graphite on paper,NaN,1922.0,311,213,mm
1037,"Blake, Robert",The Preaching of Warning. Verso: An Old Man En...,Graphite on paper. Verso: graphite on paper,1785,1922.0,343,467,mm
1038,"Blake, Robert",Six Drawings of Figures with Outstretched Arms,Graphite on paper,NaN,1922.0,318,394,mm
1039,"Blake, William",The Circle of the Lustful: Francesca da Rimini...,Line engraving on paper,1826,1919.0,243,335,mm
1040,"Blake, William",Ciampolo the Barrator Tormented by the Devils,Line engraving on paper,1826,1919.0,240,338,mm
1041,"Blake, William",The Baffled Devils Fighting,Line engraving on paper,1826,1919.0,242,334,mm
1042,"Blake, William",The Six-Footed Serpent Attacking Agnolo Brunel...,Line engraving on paper,1826,1919.0,246,340,mm
1043,"Blake, William",The Serpent Attacking Buoso Donati,Line engraving on paper,1826,1919.0,241,335,mm
1044,"Blake, William",The Pit of Disease: The Falsifiers,Line engraving on paper,1826,1919.0,243,340,mm
1045,"Blake, William",Dante Striking against Bocca Degli Abati,Line engraving on paper,1826,1919.0,236,340,mm
1046,"Blake, William",Job and his Family,Line engraving on paper,1828,1919.0,184,150,mm
1047,"Blake, William",Satan before the Throne of God,Line engraving on paper,1825,1919.0,197,151,mm
1048,"Blake, William",Job’s Sons and Daughters Overwhelmed by Satan,Line engraving on paper,1825,1919.0,197,153,mm
1049,"Blake, William",The Messengers tell Job of his Misfortunes,Line engraving on paper,1825,1919.0,200,152,mm
1050,"Blake, William",Satan Going Forth from the Presence of the Lor...,Line engraving on paper,1825,1919.0,198,152,mm
1051,"Blake, William",Satan Smiting Job with Sore Boils,Line engraving on paper,1825,1919.0,198,153,mm
1052,"Blake, William",Job’s Comforters,Line engraving on paper,1825,1919.0,198,153,mm
1053,"Blake, William",Job’s Despair,Line engraving on paper,1825,1919.0,199,150,mm
1054,"Blake, William",The Vision of Eliphaz,Line engraving on paper,1825,1919.0,198,152,mm
1055,"Blake, William",Job Rebuked by his Friends,Line engraving on paper,1825,1919.0,198,152,mm
1056,"Blake, William",Job’s Evil Dreams,Line engraving on paper,1825,1919.0,197,152,mm
1057,"Blake, William",The Wrath of Elihu,Line engraving on paper,1825,1919.0,200,151,mm
1058,"Blake, William",The Lord Answering Job out of the Whirlwind,Line engraving on paper,1825,1919.0,198,151,mm
1059,"Blake, William",When the Morning Stars Sang Together,Line engraving on paper,1825,1919.0,191,150,mm
1060,"Blake, William",Behemoth and Leviathan,Line engraving on paper,1825,1919.0,200,151,mm
1061,"Blake, William",The Fall of Satan,Line engraving on paper,1825,1919.0,186,150,mm
1062,"Blake, William",The Vision of Christ,Line engraving on paper,1825,1919.0,200,151,mm
1063,"Blake, William",Job’s Sacrifice,Line engraving on paper,1825,1919.0,198,150,mm
1064,"Blake, William",Every Man also Gave him a Piece of Money,Line engraving on paper,1825,1919.0,197,150,mm
...,...,...,...,...,...,...,...,...
121196,"Barlow, Phyllida",Untitled,Acrylic paint on paper,2003,2013.0,558,760,mm
121197,"Barlow, Phyllida",Untitled,Acrylic paint on paper,2004,2013.0,380,566,mm
121198,"Barlow, Phyllida",Untitled,Acrylic paint on paper,2006,2013.0,560,762,mm
115637,"Latham, John",Unedited Material From the Star,"Film, 16mm, projection, colour and sound",1960,2013.0,NaN,NaN,NaN
115638,"Latham, John",Encyclopedia Britannica,"Film, 16mm, projection, black and white",1971,2013.0,NaN,NaN,NaN
122545,"Kirkeby, Per",Composition,Oil paint on canvas,1978,2013.0,2093,1679,mm
120104,"Karamustafa, Gulsun",Memory of a Square,"Video, 2 projections, black and white and sound",2005,2013.0,NaN,NaN,NaN
121565,"Walker, Kelley",Will We Ever Kill The Bug,2 screenprints on fibreboard,2010,2013.0,NaN,NaN,NaN
116157,"Bulloch, Angela",Aluminium 4,"4 aluminium pixel boxes with DMX control box, ...",2012,2013.0,NaN,NaN,NaN
117761,"Atlas, Charles",Joints 4tet Ensemble,"Film, Super 8 mm, shown as video, 10 monitors,...",1971,2013.0,NaN,NaN,NaN
115217,"T R Uthco (Doug Hall born 1944, Diane Andrews ...",The Eternal Frame,"2 sofas, lamp, television, JFK mementos, tapes...",1975,2013.0,NaN,NaN,NaN
122537,"Gordon, Douglas",Feature Film,"Video, projection, colour and sound",1999,2013.0,NaN,NaN,NaN
120527,"Black, Karla",At Fault,"Cellophane, paint, sellotape, plaster powder, ...",2011,2013.0,NaN,NaN,NaN
127128,"Lord, Andrew",Three Vases. Fist,Ceramic and gold,1985,2013.0,368,267,mm
127129,"Lord, Andrew",biting,"Ceramic, epoxy, gold leaf, encre de Chine and ...",1996,2013.0,705,470,mm
127130,"Lord, Andrew",breathing,"Ceramic, epoxy, gold leaf, encre de Chine and ...",1996,2013.0,408,205,mm
127131,"Lord, Andrew",Untitled (from the Gauguin Series),"Ceramic, silver and epoxy",2004,2013.0,410,317,mm
121283,"Rhodes, Lis",Light Music,"Film, 16 mm, 2 projections, black and white, a...",1975,2013.0,NaN,NaN,NaN
129068,"Lord, Andrew",Coffee service and tray. Impressionist set,Ceramic,1978,2013.0,57,57,mm
117863,"Andrade, Jonathas de",Tropical Hangover,"151 text panels, typewritten ink on paper, 53 ...",2009,2013.0,NaN,NaN,NaN
120549,"Oursler, Tony",The Influence Machine,"Video, multiple projections, sound and smoke",2000,2013.0,NaN,NaN,NaN
123620,"Sterne, Hedda","NY, NY No. X",Oil paint on canvas,1948,2013.0,810,1155,mm
122900,"Flanagan, Barry",sand girl,"Film, Super 8mm, projection, colour",1970,2013.0,NaN,NaN,NaN
122958,"P-Orridge, Genesis",Venus Mound (from Tampax Romana),"Wood, Perspex, plaster, wire, tampons and huma...",1976,2013.0,305,305,mm
122959,"P-Orridge, Genesis",It’s That Time Of The Month (from Tampax Romana),"Wood, Perspex, clock case, tampons and human b...",1975,2013.0,305,305,mm
122960,"P-Orridge, Genesis",Larvae (from Tampax Romana),"Perspex, Wood, hairpiece, tampon and human blood",1975,2013.0,305,305,mm
122961,"P-Orridge, Genesis",Living Womb (from Tampax Romana),"Wood, Perspex, plastic, photograph on paper, t...",1976,2013.0,305,305,mm
121181,"Hatoum, Mona",Present Tense,Soap and glass beads,1996,2013.0,45,2410,mm
112306,"Creed, Martin",Work No. 227: The lights going on and off,Gallery lighting,2000,2013.0,NaN,NaN,NaN
127035,"Brunias, Agostino",Dancing Scene in the West Indies,Oil paint on canvas,1764,2013.0,508,660,mm

In [22]:
df.iloc[0, :]

artist                                                 Blake, Robert
title              A Figure Bowing before a Seated Old Man with h...
medium             Watercolour, ink, chalk and graphite on paper....
year                                                             NaN
acquisitionYear                                                 1922
width                                                            394
height                                                           419
units                                                             mm
Name: 1035, dtype: object

In [36]:
#Extract first 2 rows and first 2 columns ( x:y) --> pos x to y-1 (so y not included)
df.iloc[0:2,0:2]

              artist                                              title
id
1037   Blake, Robert  The Preaching of Warning. Verso: An Old Man En...
1038   Blake, Robert     Six Drawings of Figures with Outstretched Arms
1039  Blake, William  The Circle of the Lustful: Francesca da Rimini...
1040  Blake, William      Ciampolo the Barrator Tormented by the Devils
1041  Blake, William                        The Baffled Devils Fighting

In [26]:
#Try Multiplication
df['height'] * df['width'] #Doesn't work, inout data is dirty

TypeError: can't multiply sequence by non-int of type 'float'

In [43]:
df['width'].sort_values().head() #This returns strings

id
20822            (1):
105337    (diameter):
98671         (each):
76420         (each):
91391        (image):
Name: width, dtype: object

In [44]:
df['width'].sort_values().tail() #This returns NaN - Not a Number

id
121283    NaN
117863    NaN
120549    NaN
122900    NaN
112306    NaN
Name: width, dtype: object

In [46]:
#Try to convert to numbers
pd.to_numeric(df['width'])

ValueError: Unable to parse string "(upper):" at position 1839

In [47]:
#Force NaNs
pd.to_numeric(df['width'], errors='coerce')

id
1035       394.0
1036       311.0
1037       343.0
1038       318.0
1039       243.0
1040       240.0
1041       242.0
1042       246.0
1043       241.0
1044       243.0
1045       236.0
1046       184.0
1047       197.0
1048       197.0
1049       200.0
1050       198.0
1051       198.0
1052       198.0
1053       199.0
1054       198.0
1055       198.0
1056       197.0
1057       200.0
1058       198.0
1059       191.0
1060       200.0
1061       186.0
1062       200.0
1063       198.0
1064       197.0
           ...
121196     558.0
121197     380.0
121198     560.0
115637       NaN
115638       NaN
122545    2093.0
120104       NaN
121565       NaN
116157       NaN
117761       NaN
115217       NaN
122537       NaN
120527       NaN
127128     368.0
127129     705.0
127130     408.0
127131     410.0
121283       NaN
129068      57.0
117863       NaN
120549       NaN
123620     810.0
122900       NaN
122958     305.0
122959     305.0
122960     305.0
122961     305.0
121181      45.0
112306       NaN
127035     508.0
Name: width, Length: 69201, dtype: float64

In [48]:
#replace the Width column
df.loc[:, 'width'] = pd.to_numeric(df['width'], errors='coerce')

In [49]:
pd.to_numeric(df['height'], errors='coerce')
df.loc[:, 'height'] = pd.to_numeric(df['height'], errors='coerce')

In [50]:
df['height'] * df['width']

id
1035       165086.0
1036        66243.0
1037       160181.0
1038       125292.0
1039        81405.0
1040        81120.0
1041        80828.0
1042        83640.0
1043        80735.0
1044        82620.0
1045        80240.0
1046        27600.0
1047        29747.0
1048        30141.0
1049        30400.0
1050        30096.0
1051        30294.0
1052        30294.0
1053        29850.0
1054        30096.0
1055        30096.0
1056        29944.0
1057        30200.0
1058        29898.0
1059        28650.0
1060        30200.0
1061        27900.0
1062        30200.0
1063        29700.0
1064        29550.0
            ...
121196     424080.0
121197     215080.0
121198     426720.0
115637          NaN
115638          NaN
122545    3514147.0
120104          NaN
121565          NaN
116157          NaN
117761          NaN
115217          NaN
122537          NaN
120527          NaN
127128      98256.0
127129     331350.0
127130      83640.0
127131     129970.0
121283          NaN
129068       3249.0
117863          NaN
120549          NaN
123620     935550.0
122900          NaN
122958      93025.0
122959      93025.0
122960      93025.0
122961      93025.0
121181     108450.0
112306          NaN
127035     335280.0
Length: 69201, dtype: float64

In [51]:
df['units'].value_counts()

mm    65860
Name: units, dtype: int64

In [54]:
#Create a new area column
area = df['height'] * df['width']
df = df.assign(area=area)
df.head()

,artist,title,medium,year,acquisitionYear,width,height,units,area
id,,,,,,,,,
1035,"Blake, Robert",A Figure Bowing before a Seated Old Man with h...,"Watercolour, ink, chalk and graphite on paper....",NaN,1922.0,394.0,419.0,mm,165086.0
1036,"Blake, Robert","Two Drawings of Frightened Figures, Probably f...",Graphite on paper,NaN,1922.0,311.0,213.0,mm,66243.0
1037,"Blake, Robert",The Preaching of Warning. Verso: An Old Man En...,Graphite on paper. Verso: graphite on paper,1785,1922.0,343.0,467.0,mm,160181.0
1038,"Blake, Robert",Six Drawings of Figures with Outstretched Arms,Graphite on paper,NaN,1922.0,318.0,394.0,mm,125292.0
1039,"Blake, William",The Circle of the Lustful: Francesca da Rimini...,Line engraving on paper,1826,1919.0,243.0,335.0,mm,81405.0

In [56]:
df['area'].max()

132462000.0

In [59]:
#select the id with the max area
df['area'].idxmax()

98367

In [60]:
df.loc[df['area'].idxmax(),:]

artist                               Therrien, Robert
title                No Title (Table and Four Chairs)
medium             Aluminium, steel, wood and plastic
year                                             2003
acquisitionYear                                  2008
width                                            8920
height                                          14850
units                                              mm
area                                      1.32462e+08
Name: 98367, dtype: object

In [2]:
import pandas as pd
import os